<div class="container-fluid body">
    <h1 class="text-center head">Life</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let life of life;let i = index' class="">
            <p class="para"><i class="fas fa-life-right"> </i> {{life.text}} <br> posted on {{life.completeDate|date|uppercase}}</p>
            <app-life-details [life]='life' (isComplete)=deleteLife($event,i)></app-life-details>
        </div>  
        <div class="col-md-6">
            <app-life-form (addLife)="addNewLife($event)"></app-life-form>
        </div>
     
     </div>